<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {

            // alert("hELLLO")
        })

        const test = () => {
            var q = $("#q").val()

            $.get("test", { q }, function (rt) {
                $("#display").html(rt)
            })
        }


    </script>
</head>

<body>
    <h1>Hello</h1>

    <input type="text" id="q">
    <button onclick="test()">Click me</button>
    <div id="display"></div>
</body>

</html>                                                                                                                                                                    
